body {
  font-family: 'Fredoka', sans-serif;
  font-size: medium;
  background-image:url(Gemini_Generated_Image_ppl900ppl900ppl9.png);
  background-size: cover; 
  background-repeat: no-repeat;
  color: rgb(4, 43, 2);
  text-align: center;
  margin: 0;
  padding: 200px;
}

.contenedor {
  max-width: 800px;
  margin: 0 auto;
}

canvas {
  background-color: #b2d4b0a9;
  border: 3px solid #78d62c;
  display: block;
  margin: 20px auto;
}

.panel {
  margin: 20px 0;
}

.botones button {
  margin: 5px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}